<Nav />
<div class="max-x-full overflow-hidden bg-cover h-auto py-6" style="background-image: url('https://tailwindcss.com/img/card-top.jpg')">
  <div class="container mx-auto">
    <h1 class="text-white text-5xl text-center mt-12">Fastboot Lighthouse Testing</h1>
    <p class="text-white text-xl text-center mt-2">How fast can we go?!</p>
    {{#each autocompletes as |a index|}}
      <AutoComplete @indexId={{index}}/>
    {{/each}}
  </div>
</div>
<div class="container mx-auto">
  {{#each inputForms as |i index|}}
    <InputForm @indexId={{index}}/>
  {{/each}}
</div>

{{outlet}}

<div class="container mx-auto">
  <Cards />
</div>
